@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

h1,
h2,
body {
  font-family: 'Lato', sans-serif;
}

h1 {
  margin: 2em auto 0em auto;
}

body {
  max-width: 800px;
  margin: 1em auto 4em auto;
}

body > div {
}
